.about {
    padding: 3rem 0;
    @media (max-width: 768px){
        padding: 2rem 0;
    }
    @media (max-width: 576px){
        padding: 1rem 0;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        @media (max-width: 768px){
            flex-wrap: wrap-reverse;
        }
        @media (max-width: 576px){
            flex-wrap: wrap-reverse;
        }
        img {
            width: 100;
            @media (max-width: 768px){
                width: 100%;
            }
        }
        &__text{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 30%;
            @media (max-width: 768px){
                text-align: center;
                width: 100%;
                gap: 1rem;
            }
            @media (max-width: 576px){
                text-align: center;
                width: 100%;
                gap: .5rem;
            }
            &__title{
                color: $black;
                font-weight: 600;
                font-size: 48px;
                margin-bottom: 1rem;
                @media (max-width: 768px){
                    font-size: 30px;
                }
                @media (max-width: 576px){
                    font-size: 35px;
                }
            }
            &__description{
                font-weight: 400;
                font-size: 16px;
                @media (max-width: 768px){
                    font-size: 14px;
                }
                @media (max-width: 576px){
                    font-size: 12px;
                }
            }
        }
    }
}