.banner {
    padding: 150px 0;
    background-color: $gray;
    @media (max-width: 768px){
        padding: 100px 0;
    }
    @media (max-width: 576px){
        padding: 80px 0;
    }
    &__content{
        display: flex;
        gap: 52px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        @media (max-width: 991px){
            gap: 20px;
        }
        img {
            width: 100;
            @media (max-width: 991px){
                width: 100%;
            }
        }
        &__text{
            display: flex;
            flex-direction: column;
            gap: 33px;
            @media (max-width: 768px){
                text-align: center;
                gap: 20px;
            }
            @media (max-width: 576px){
                gap: 10px;
            }
            &__title{
                color: $red;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 1rem;
                @media (max-width: 768px){
                    font-size: 20px;
                }
                @media (max-width: 576px){
                    font-size: 15px;
                }
            }
            &__subtitle{
                font-weight: 600;
                font-size: 64px;
                @media (max-width: 768px){
                    font-size: 40px;
                }
                @media (max-width: 576px){
                    font-size: 30px;
                }
            }
            &__description{
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 1rem;
                @media (max-width: 768px){
                    font-size: 16px;
                }
                @media (max-width: 576px){
                    font-size: 12px;
                }
            }
            &__btn{
                display: flex;
                gap: 20px;
                padding: 15px 30px;
                background-color: $red;
                color: $white;
                font-weight: 600;
                font-size: 1.2rem;
                border-radius: 6px;
                transition: all .3s ease;
                @media (max-width: 768px){
                    padding: 10px 20px;
                    font-size: 1rem;
                }
                &:hover{
                    background-color: $black;
                }
            }
        }
    }   
}